/* 
CUSTOM STYLESHEET
---------------------

*/

.right-col {
	float: right;
}

.youtube {
	
}

.icon_phone {
	font-size: 20px;
}

/*blue*/

.blueish {
	color: #12A0A9;
}
.greenish {
	color: #23a911;
}

.footer {
	background-color: #ecfafb;
}

#footerModule div {
	color: #4C4C4C;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 17px;
	font-style: italic;
	font-weight: normal;
	line-height: 1.5em;
    opacity: 0;
    position: absolute;
    width: 512px;
}

#footerModule {
	height: 100%;
}

#testimony {
	min-height: 300px;
}

.slides_container {
	margin-left: -40px;
}

#copy {
	color: gray;
	font-size: 12px;
	vertical-align: top;
	line-height: 16px;
	text-decoration: none;
}