RewriteEngine On
RewriteBase /



RewriteCond %{HTTP_HOST} !^www\.                                  [NC]
RewriteCond %{HTTP_HOST} ^ridewithpridenc.com$                    [NC]
RewriteRule ^(.*)$       http://www.ridewithpridenc.com/$1        [R=301,L]

#RewriteRule ^(blog)($|/)                                        - [NC,L]

RewriteRule ^([a-z0-9_-]+)/?$   ?page=$1                          [NC,L]