/* Page-specific, user style information. */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFCCCC;
	color: #000000;
}

td.groupTopLeft { background-image: url("images/border7.png"); background-repeat: no-repeat; background-position: bottom; width: 16px; height: 24px; }
td.groupTopMid { background-image: url("images/border8.png"); background-repeat: repeat-x; background-position: bottom; height: 24px;
font-weight: bold; font-size: 16px; color: #003300; } /* Also group header */
td.groupTopRight { background-image: url("images/border9.png"); background-repeat: no-repeat; background-position: bottom; width: 16px; height: 24px; }

td.groupMidLeft { background-image: url("images/border4.png"); background-repeat: repeat-y; width: 16px; }
table.group {
	background-image: url("images/border5.png");
	background-attachment: fixed;
	background-color: #FFFFFF;
	color: #000000;
}
td.groupMidRight { background-image: url("images/border6.png"); background-repeat: repeat-y; width: 16px; }

td.groupBottomLeft { background-image: url("images/border1.png"); background-repeat: no-repeat; background-position: bottom; width: 16px; height: 16px; }
td.groupBottomMid { background-image: url("images/border2.png"); background-repeat: repeat-x; height: 16px; }
td.groupBottomRight { background-image: url("images/border3.png"); background-repeat: no-repeat; background-position: bottom; width: 16px; height: 16px; }

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.classColDruid { color: #FF7700; }
.classColHunter { color: #AADD88; }
.classColMage { color: #66CCFF; }
.classColPaladin { color: #FF88BB; }
.classColPriest { color: #FFFFFF; }
.classColRogue { color: #FFFF66; }
.classColShaman { color: #2255FF; }
.classColWarlock { color: #9988CC; }
.classColWarrior { color: #CC9966; }
.classColDeathKnight { color: #CC1133; }