<div class="category-left-block" id="comments"> 
    <p>&nbsp;</p>
        <p>
            We are a well established local company with an outstanding reputation for reliability and the quality of our work and attention to detail which has led to repeat business with many of our clients.We are a well established local company with an outstanding reputation   for reliability and the quality of our work and attention to detail   which has led to repeat business with many of our clients, all of our   plumbers and heating engineers are professional, highly experienced   tradesmen.<br />
        </p>
    <div class="header-logos"></div>
</div>