<!-- BEGIN .main-menu-ul -->
<ul class="main-menu-ul">						
        <li>
                <a href="index.html">Home</a>
        </li>
        
        <li class="custom-color" style="background-color:#2d7e5c;">
                <a href="#"><span>Green deal</span></a>
                
                <ul>
                        <li><a href="green_deal_for_home_owners.html">Green Deal for Home Owners</a></li>
                        <li><a href="green_deal_for_landlords.html">Green Deal for Landlords</a></li>
                        <li><a href="green_deal_process_scotland.html">Green Deal Process Scotland</a></li>
                        <li><a href="green_deal_from_rdirenewables.html">Green Deal from RDI Renewables</a></li>
                        <li><a href="green_deal_faq.html">Green Deal FAQs</a></li>
                        <li><a href="green_homes_cashback_scheme.html">Green Homes Cashback Scheme</a></li>
                        <li><a href="green_homes_faq.html">Green Homes FAQs</a></li>
                        <li><a href="our_qualifications.html">Our Qualifications</a></li>
                </ul>
        </li>
        
        <li class="custom-color" style="background-color:#675a8c;">
                <a href="#"><span>Heating Systems</span></a>
                
                <ul>
                        <li><a href="central_heating.html">Central Heating</a></li>
                        <li><a href="air_source_heat_pumps.html">Air Source Heat Pumps</a></li>
                        <li><a href="central_heating_offers.html">Central Heating Offers</a></li>
                </ul>
        </li>
        
        <li class="custom-color" style="background-color:#c14d44;">
                <a href="#"><span>Boilers</span></a>
                
                <ul>
                        <li><a href="gas_boilers.html">Gas Boilers</a></li>
                        <li><a href="oil_boilers.html">Oil Boilers</a></li>
                        <li><a href="biomas_boilers.html">Biomass</a></li>
                        <li><a href="new_boiler_offers.html">New Boiler Offers</a></li>
                </ul>
        </li>
        
        <li class="custom-color" style="background-color:#c69069;">
                <a href="#"><span>Insulation</span></a>
        
                <ul>
                        <li><a href="loft_insulation.html">Loft Insulation</a></li>
                        <li><a href="cavity_wall_insulation">Cavity wall Insulation</a></li>
                        <li><a href="external_insulation.html">External Insulation</a></li>
                        <li><a href="internal_insulation.html">internal Insulation</a></li>
                        <li><a href="draught_proofing.html">Draught-Proofing</a></li>
                </ul>
        </li>
        
        <li class="custom-color" style="background-color:#3d88c7;">
        <a href="#"><span>Affordable Warmth</span></a>
        
        <ul>
                <li><a href="free_boilers.html">Free Boilers</a></li>
                <li><a href="free_insulations">Free Insulation</a></li>
                <li><a href="eco_affordable_warmth_form.html">Eco affordable warmth form</a></li>
                <li><a href="eco_affordable_warmth_elegibility.html">Eco affordable warmth eligibility</a></li>
                <li><a href="energy_saving_graphic.html">Energy Saving Graphic</a></li>
        </ul>
        
        <li class="custom-color" style="background-color:#675a8c;">
                <a href="category.html">Contact Us</a>
        </li>
</ul>
<!-- END .main-menu-ul -->