<div class="side-article">
    <form name="bookingForm" id="bookingForm" method="post" action="bookingForm.php">
        <h1>Book Your Green Deal Assessment</h1>
        <br>One of our accredited assessors will be able to show how your property will benefit from Green Deal.
        <br>
        <span class="bookingLabel">First Name*</span>
        <input type="text" name="fname">
        <span class="bookingLabel">Last Name*</span>
        <input type="text" name="lname">
        <span class="bookingLabel">Your Email*</span>
        <input type="text" name="email">
        <span class="bookingLabel">Your Telephone Number*</span>
        <input type="text" name="tel">
        <span class="bookingLabel">Your Postcode*</span>
        <input type="text" name="pcode">
        <span class="bookingLabel">Are you a</span>
        <br><select name="utype">
                <option value="homeowner">Homeowner</option>
                <option value="business">Business</option>
                <option value="other">Other</option>
        </select>
        <br><br><input type="submit" value="Send">
        <br><br>Green Deal Assessment from &pound;139 + VAT. Book now for special EST offer of &pound;150 cashback.
    </form>
</div>