<!-- BEGIN .breaking-message -->
<div class="breaking-message">
	<div class="thanews">
		<strong class="font-replace">Latest News</strong>
	</div>
	
	<div>
		<div class="breaking-line">
		<ul>
			<li><a href="post.html" class="font-replace">Green Deal has limited funding - Don't miss out on these incredible savings:</a>....Up to £1,200 cashback</a>....£150 assessment cashback</a>   ....30% savings</li>
			<li><a href="post.html" class="font-replace">£150 assessment cashback</a>30% savings on energy costs</li>
			<li><a href="post.html" class="font-replace">No upfront costs</a>Manageable repayments</li>
		</ul>
		</div>
	</div>
</div>
<!-- END .breaking-message -->