.mainbanner {
	margin: auto; width: 997px; height: 287px; background-color: rgb(255, 255, 255);
}
#hpsearch2 {
	margin: -145px 0px 0px 40px; padding: 0px 0px 8px 10px; width: 420px; overflow: hidden; clear: none; float: left; position: relative; z-index: 999;
}
#mainbanner {
	position: relative;
}
.feature#mainbanner {
	left: 0px; top: 0px; position: absolute;
}
#flash {
	width: 780px; height: 220px; line-height: 0; position: relative; background-color: rgb(255, 255, 255);
}
#flash #mainbanner #flash img {
	height: 215px !important;
}
#flash .feature-content {
	height: 215px !important;
}
#flash #mainbanner {
	width: 780px !important;
}
#flash img {
	width: 780px !important;
}
#flash .feature a {
	display: block;
}
#flash .feature-content {
	background-position: top; top: 0px; width: 329px; right: 0px; position: absolute; background-image: url("/images/banner-bg.png"); background-repeat: no-repeat;
}
#flash .feature-content a {
	color: rgb(51, 51, 51); line-height: 1em; padding-bottom: 0px; font-style: italic; font-weight: bold; text-decoration: none; border-bottom-color: rgb(224, 224, 224); border-bottom-width: 1px; border-bottom-style: solid; display: inline;
}
#flash .feature-content h2 {
	margin: 13px 40px 5px 20px; line-height: normal;
}
#flash p {
	margin: 5px 40px 0px 20px; line-height: normal;
}
#flash span {
	margin: 0px 0px 2px; color: rgb(223, 20, 108) !important; font-style: italic !important;
}
#featuresnav a {
	margin: 0px 5px; padding: 3px 5px; border: 1px solid rgb(153, 153, 153); color: rgb(102, 102, 102); text-decoration: none; background-image: url("/images/banner-nav.png"); background-repeat: repeat;
}
#featuresnav a.activeSlide {
	background-image: url("/images/banner-nav_active.png"); background-repeat: repeat;
}
#featuresnav a:focus {
	
}
#featuresnav {
	list-style: none; right: 20px; bottom: 0px; position: absolute; z-index: 300;
}
#flash a.more {
	padding-bottom: 0px; font-style: italic; font-weight: bold; margin-right: 40px; margin-left: 20px; border-bottom-color: rgb(224, 224, 224); border-bottom-width: 1px; border-bottom-style: solid; display: inline;
}
