<style type="text/css">
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin-left: 5%;
	margin-right: 5%;
}
a {
	text-decoration: none;
	color: #0066FF;
}
/*
a:visited {
	text-decoration: none;
	color: #0066FF;
}
*/
a:hover {
	text-decoration: underline;
}
.hidden {
display: none;
}
.shown {
display: block;
}
a.homelink {
font-family:Verdana,Sans-serif;
color: #6666FF;
text-decoration: none;
font-weight: bold;
}
a.homelink:hover {
font-family:Verdana,Sans-serif;
color: #6666FF;
text-decoration: underline;
}
td.homebar {
font-family:Verdana,Sans-serif;
font-size:10px;
color: #333333;
}
</style>